<!DOCTYPE html>
<html>
<head> 
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script type="text/javascript" src="js/vue.js"> </script> 
</head>
<body>
  <div id="app">
    <p>Bermudas  - R$ <span>{{preco}}</span></p>
    <button @click="total++">Adicionar</button>
    <button @click="total--">Remover</button>
    <span>{{total}}</span>
    <p v-bind:style="{backgroundColor: color}">Total: <span>{{total * preco}}</span></p>
  </div>

</body>
</html>

<script type="text/javascript">
    const vm = new Vue({
      el: "#app",
      data: {
        preco: 49,
        total: 0,
        color: this.total > 98 ? 'red' : 'green'
      }
    });
    console.log(vm, vm.mes)
  </script>