<!DOCTYPE html>
<html>
<head> 
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script type="text/javascript" src="js/vue.js"> </script> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
      .flex-container {
        display: flex;
        flex-wrap: nowrap;
      }
  </style>
</head>
<body>
  <div id="app">

    <div class="col-md-12" style="padding: 20px; text-align: center;">
      <div class="row">
        <div class="col-md-12">
          <input id="lado" type="number" name="lado" placeholder="Lado..." @change="press()" @keypress="press()"/>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-around;">
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <h3>Área: </h3>
            <h3 style="color: brown">{{$data._area}}</h3>
          </div>
          <div style="display: flex;">
            <h3>Perímetro: </h3>
            <h3 style="color: brown">{{$data._perimetro}}</h3>
          </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
          <div>{{lado}}</div>
          <div style="display: flex; flex-direction: row; align-items: center; text-align: center;">
              <div style="padding: 12px"> {{lado}}</div>
              <div style="align-self: center; border-style: solid; width: 100px; height: 100px;">
              </div>
              <div style="padding: 12px;">{{lado}}</div>
          </div>
          <div>{{lado}}</div>
      </div>
    </div>

  </div>

</body>
</html>

<script type="text/javascript">
    const vm = new Vue({
      el: "#app",
      data: {
        _area: 0,
        _perimetro: 0,
        lado: 0
      },
      computed: {
      },
      methods: {
          press() {
            this.lado  = window.event.currentTarget.value;
            this.$data._area = this.lado * this.lado;
            this.$data._perimetro = this.lado * 4;
          },
      }
    });
  </script>